.customer-list-container {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
    }
  }

  .filter-card {
    margin-bottom: 20px;

    .search-container {
      display: flex;

      mat-form-field {
        width: 100%;
      }
    }
  }

  .table-container {
    overflow-x: auto;

    table {
      width: 100%;
    }

    .mat-column-id {
      width: 10%;
    }

    .mat-column-name {
      width: 70%;
    }

    .mat-column-actions {
      width: 20%;
      text-align: center;
    }
  }
}
